/* GUIDES */
.guide {
  border: 1px solid rgba(170, 0, 204, 1) !important; 
  position: fixed;
  z-index: 1;
}

.middle-guide {
  border: 1px solid rgba(170, 0, 204, 1) !important; 
  position: fixed;
  z-index: 1;
  
}

.box {
  border: 3px solid #AA00CC !important; 
  position: fixed; 
  z-index: 2;
  display: table;
}

.filled {
  background-color: #AA00CC;
  color: #ffffff;
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center;
  
  /* font-size: 1rem !important; */
}

.circle {
  border: 1px solid red !important; 
  position: fixed;
  z-index: 2;
  display: table;
  border-radius: 50%;
}

.ellipse {
  border: 1px solid red !important; 
  position: fixed;
  z-index: 2;
  display: table;
  border-radius: 50%;
}

img {
  border: 1px solid !important;
  border-color: rgba(255,0,255, 0) !important;
  z-index: 10;
}

.center-img img {
  display: block;
  margin: auto !important;
}

.top-img {
  z-index: 100;
}

table {
  margin: 0 auto !important;
  padding: 50px !important;
  margin-bottom: 50px !important;
}

.footer {
    color: #000000;
    position: fixed;
    top: 93%;
    text-align: left;
    width: 100%;
    font-size: 1rem !important;
    height: 9%;
    z-index: 100;
    font-family: sans-serif;
}

.footer-rest {
    color: #000000;
    position: fixed;
    top: 99%;
    text-align: center;
    width: 100%;
    font-size: 1rem !important;
    height: 1%;
}

.smaller {
  font-size: smaller !important;
}

.smaller-75 {
  font-size: 75% !important;
}

.smaller-70 {
  font-size: 70% !important;
}

.smaller-65 {
  font-size: 65% !important;
}

.smaller-60 {
  font-size: 60% !important;
}

.smaller-50 {
  font-size: 50% !important;
}

/* MAIN */

.reveal h1 { 
  font-size: 2.5em; 
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
  font-weight: 800;
}

/* MAIN */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 { 
   margin-bottom: .6em;    
}

.reveal p,
.reveal table {
   margin-bottom: 1em; 
}

.reveal li {
   margin-bottom: .4em;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	margin-top: .4em;
}

.reveal .slides {
  text-align: left;
}

.reveal small {
	font-size: 0.85em;
}

.reveal pre {   
  margin-top: 0;
  max-width: 95%;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  margin-bottom: 1em; 
}

.reveal pre code {
  display: block; padding: 0.5em;
  font-size: 1.6em;
  line-height: 1.1em;
  background-color: white;
  overflow: visible;
  max-height: none;
  word-wrap: normal;
}

.reveal code {
  overflow: visible;
  max-height: none;
}

.reveal code.r {
  background-color: #F8F8F8;
}

.reveal code.cpp {
  background-color: #F8F8F8;
}

.reveal section del {
   text-decoration: none;
   color: #AAB1BA;
}

.reveal section img {
   border: none;
   box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.reveal section .fieldError {
  margin-bottom: 25px;
}

.reveal section .fieldError span {
  color: #AA00CC;
}

.prompt .reveal .state-background {
   background: #C6D7DC;
}

.quiz-multichoice .reveal .state-background {
  background: rgba(254,220,179,1);
}

.quiz-multichoice .reveal ul {
  list-style-type: none;
  margin-bottom: 30px;
}

.quiz-multichoice .reveal li {
  margin-top: 15px;
}

.quiz-multichoice .reveal .quizFeedback {
  margin-bottom: 30px;
}

.quiz-multichoice .reveal .quizFeedback img {
  border: none;
  box-shadow: none;
  background: transparent;
  float: left;
  margin-top: -15px;
}

.quiz-multichoice .reveal .quizFeedback span {
  font-size: 1.4em; 
  margin-left: 12px;
}

.section .reveal .state-background {
   /* background: 96A2B6; */
   background: #FFFFFF;
}

.section .reveal h1,
.section .reveal h2,
.section .reveal p {
   /* color: white; */
   color: #000000;
   margin-top: 50px;
}

.sub-section .reveal .state-background {
  background: #E7E8EA
}

.sub-section .reveal h2,
.sub-section .reveal p {
  color: #63717B;
  margin-top: 50px;
}

.reveal strong {
  color: #AA00CC;
}

.reveal .controls {
  right: -20px;
  bottom: 5px;
}

.reveal .controls div.navigate-left {
  top: 75px;
}

.reveal .controls div.navigate-right {
  left: 54px;
  top: 75px;
}


.reveal .controls div.navigate-up {
  display: none;
}

.reveal .controls div.navigate-down {
  display: none;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
 
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  /* border-right-color: 25679E; */
  
  border-right-color: #AA00CC;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #AA00CC;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #AA00CC;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #AA00CC;
}

.reveal .controls div.navigate-left.enabled:hover {
  /* border-right-color: 267EC8; */
  
  border-right-color: #f79388;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f79388;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f79388;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f79388;
}

.reveal .progress span {
  background: #AA00CC;
}

.reveal .slides>section,
.reveal .slides>section>section {
  padding: 0px 0px;
}


.reveal table {
  border-width: 1px;
  border-spacing: 2px;
  border-style: dotted;
  border-color: gray;
  border-collapse: collapse;
  font-size: 0.7em;
}

.reveal table th {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  border-style: dotted;
  border-color: gray;
}

.reveal table td {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 25px;
  border-style: dotted;
  border-color: gray;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 90%;
  margin: 5px auto;
  padding: 5px;

  font-style: normal;
  background: #C6D7DC;
  border: 1px solid #C6D7DC;
  box-shadow: none;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: block;
}

.reveal blockquote:before {
  content: '';
}

.reveal blockquote:after {
    content: '';
}


.reveal ol,
.reveal ul {
	margin: 0 0 .5em 1.2em;
}

.reveal .slides section {
   height: 100%;
}

.reveal .slides section .slideContent h2 {
   font-size: 1.3em;
   font-weight: bold;
}

.reveal .slides section .slideContent h3 {
   font-size: 1.1em;
   font-weight: bold;
}

.reveal .slides section .column {
   position: fixed;
   width: 48%;
   top: 2.5em;
   bottom: 0;
}

.reveal .slides section .column1 {
   left: 0;
}

.reveal .slides section .column2 {
   right: 0;
}

.reveal .slides section .column img {
   max-width: 95%;
   max-height: 95%;
   height: auto;
}

.reveal .slides section .mediaOnly {
   position: absolute;
   width: 100%;
   top: 2.5em;
   bottom: 0;
}

.reveal .slides section .mediaOnly img {
   max-width: 90%;
   max-height: 90%;
   height: auto;
}

.reveal .slides section .mediaInline img {
   max-width: 90%;
   max-height: 50%;
   width: auto;
}

.reveal .slides section .mediaOnly video {
   height: 90%;
   width: 90%;
}

.reveal .slides section .mediaInline video {
   height: 50%;
   width: 90%;
}

.reveal .slides section .noTitle {
   top: 0;
}

.reveal {
  font-family: "Lato", sans-serif;
}
  
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  /* font-family: "News Cycle", Impact, sans-serif; */
  font-family: "Lato", sans-serif;
}

/* LINKS */
.reveal a:not(.image) {
  color: #AA00CC !important;
}